@(content: models.Content, sender: models.AuthInfo, detailUrl: String)(implicit request: MessagesRequestHeader)

@mail.main(models.Content.ContentType.getNameByCode(content.contentType) + " Approval") {
  <div class="clearfix">
    <div class="float-left">
      <div>@sender.name</div>
      <small style="color: #AAAAAA">@sender.email</small>
    </div>
    <div class="float-right" style="text-align: right">
      <a class="button" href="@detailUrl" target="_blank">View Detail</a>
    </div>
  </div>
  <hr />

  <div class="clearfix">
    @if(content.thumbnail.isDefined) {
      <div class="float-left" style="width: 25%">
        <img src="@routes.FileController.file(content.thumbnail.get).absoluteURL()" />
      </div>
    }
    <div class="float-left" style="width: 75%; padding-left: 20px">
      <p>@content.name</p>
      <div>@Html(content.body)</div>
    </div>
  </div>
}
